<!DOCTYPE html>
<html lang="en">
<body>
<div>
    <h1>Response of /me:</h1>
    <h3><pre><code>{{response}}</code></pre></h3>
    <br></br>
    <h3>
        Please note that this app has been designed to help developers understand Clever's SSO by exposing the inner
        working of its flow.  Normally the application server would not wait for someone to trigger the previous requests
        nor would the details of the requests be exposed to the end user.
    </h3>
</div>
</body>
</html>