<!DOCTYPE html>
<html lang="en">
<head>
    <title>Me!</title>
</head>
<body>
<div id="main" class="centered">
    <h1>Response of /me:</h1>
    <h3><pre><code>{{response}}</code></pre></h3>
</div>
</body>
</html>