<!DOCTYPE html>
<html lang="en">
<body>
<div>
    <h3>Clever has responded with the teacher's or student's access token (see 'Response' below).  Instead of having you share your credentials
        with my app, you authorized Clever to issue this token for my app in order to allow my app to access your
        protected resources.  The protected resource that this app accesses is the result of Clever's /me endpoint.  Below
        under 'Request Info' are the details of this request.  Click the 'Trigger Request' button to see the results of Clever's /me endpoint.
    </h3>
    <h1>Response:</h1>
    <h3><pre><code>{{response}}</code></pre></h3>
    <br></br>
    <h1>Request Info:</h1>
    <h3>URL: {{request_url}}</h3>
    <h3>Method: {{request_method}}</h3>
    <h3>Headers: <pre><code>{{request_headers}}</code></pre></h3>
    <a href="/me">
        <button>Trigger Request</button>
    </a>
</div>
</body>
</html>