<!DOCTYPE html>
<html lang="en">
<head>
    <title>Me!</title>
</head>
<body>
<div id="main" class="centered">
    <h1>Response:</h1>
    <h3><pre><code>{{response}}</code></pre></h3>
    <br></br>
    <h1>Request Info:</h1>
    <h3>URL: {{request_url}}</h3>
    <h3>Method: {{request_method}}</h3>
    <h3>Headers: <pre><code>{{request_headers}}</code></pre></h3>
    <a href="/me">
        <button>Trigger Request</button>
    </a>
</div>
</body>
</html>