<!DOCTYPE html>
<html lang="en">
<head>
    <title>Me!</title>
</head>
<body>
<div id="main" class="centered">
    <h1>{{title}}</h1>
    <h1>Trigger Me Req<br/><br/><a href='/oauth3'><img src='/images/signinwithclever.png'/></a>
</div>
</body>
</html>